{% extends 'treasure/base.html' %}

{% load static %}
{% load render_help %}

{% block title %}
    Upload
{% endblock %}

{% block body_block %}

<div class="hero-unit">
    <h2>Link to a Web Resource</h2>
    <br/>
    <div class="container">
        <form class="span6" id="upload_form" method="post" action="{% url 'add_web_resource' %}">
	
	    {% csrf_token %}
	    
            {% for hidden in resource_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in resource_form.visible_fields %}
                {{ field.errors }}
                {{field.label}}{% render_help_text field %}<br/>
                {{ field }}<br/>
            {% endfor %}
            
            {% for hidden in web_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in web_form.visible_fields %}
                {{ field.errors }}
                {{field.label}}{% render_help_text field %}<br/>
                {{ field }}<br/>
            {% endfor %}

            <br/>
            <button class="btn btn-primary" type="submit" name="submit" tabindex='1'>Upload Resource</button>
        </form>
    </div>
</div>
{% endblock %}
