{% extends 'treasure/base.html' %}

{% load static %}
{% load render_help %}
{% block title %}
    Add Hub
{% endblock %}

{% block body_block %}

<div class="hero-unit">
    <h2>Add a Hub</h2>
    <br/>
    <div class="container">
        <form class="span6" id="upload_form" method="post" action="/treasure/add_hub/">
	
	    {% csrf_token %}
	    
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{field.label}}{% render_help_text field %}<br/>
                {{ field }}<br/>
            {% endfor %}
            
            {% if popup %}<input type="hidden" name="_popup" value="1">{% endif %}

            <br/>
            <button class="btn btn-primary" type="submit" name="submit" tabindex='1'>Add Hub</button>
        </form>
    </div>
</div>
{% endblock %}
