{% extends 'treasure/base.html' %}

{% load static %}
{% load render_help %}

{% block title %}
    Upload
{% endblock %}

{% block body_block %}

<div class="hero-unit">
    <h2>Upload a Resource - File(s)</h2>
    <p>If you wish to upload more than one file, please combine them in a zipped, compressed, or archived folder/directory.</p>
    <br/>
    <div class="container">
        <form class="span6" id="upload_form" method="post" action="{% url 'add_file_resource' %}" enctype="multipart/form-data">
          
            {% csrf_token %}
	    
            {% for hidden in resource_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in resource_form.visible_fields %}
                {{ field.errors }}
                {{ field.label }}{% render_help_text field %}
                {{ field }}
                {% if field.label == "Other Tags" %}
                <a class="btn btn-info pull-right" href="{% url 'add_tag' %}?file">Add Tag</a>
                {% endif %}
                <br>
            {% endfor %}
            
            {% for hidden in file_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in file_form.visible_fields %}
                {{ field.errors }}
                {{ field.label }}{% render_help_text field %}<br/>
                <p>If you wish to upload more than one file, please combine them in a zipped, compressed, or archived folder/directory.</p>
                {{ field }}
                <br/>
            {% endfor %}
            
            {% lorem 10000 %}

            <br/>
            <button class="btn btn-primary" type="submit" name="submit" tabindex='1'>Upload Resource</button>
        </form>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    // fill in forms from sessionstorage
    function init() {
        if (sessionStorage["name"]) {
            $('#id_name').val(sessionStorage["name"]);
        }
        if (sessionStorage["summary"]) {
            $('#id_summary').val(sessionStorage["summary"]);
        }
        if (sessionStorage["description"]) {
            $('#id_description').val(sessionStorage["description"]);
        }
    }
    init();
});

$('input').on("keyup change blur", function () {
    sessionStorage[$(this).attr('name')] = $(this).val();
});
$('textarea').on("keyup change blur", function () {
    sessionStorage[$(this).attr('name')] = $(this).val();
});

$('button[name*="submit"]').click(function() {
    // clear session storage when submitting the form
    sessionStorage.clear();
});
</script>

{% endblock %}