<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Plan C Sharing - {% block title %}{% endblock %}</title>
        {% block head_block%}{% endblock%}
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--[if lte IE 8]><script src="{% static 'sidebar/js/ie/html5shiv.js' %}"></script><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'sidebar/css/ie8.css' %}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'sidebar/css/ie9.css' %}" /><![endif]-->
		
		<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/s/dt/jq-2.1.4,dt-1.10.10,r-2.0.0/datatables.min.js"></script>		
		
        <!-- Bootstrap -->
		<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
        <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
        <link href="{% static 'sidebar/css/main.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
        <link href="{% static 'css/treasure.css' %}" rel="stylesheet">
        
        {{ form.media }}
    </head>

    <body>
                
        <div class="navbar navbar-inverse navbar-fixed-top">
           <div class="navbar-inner">
               <div class="container">
                   <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   <a href="{% url 'home' %}"><img class="brand"  src="{% static 'images/logo2.png' %}"></img></a>

				
                   <div class="nav-collapse collapse">
                       <ul class="nav pull-right">
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'profile' %}">Profile</a></li> 
                            	<li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                            	<li><a href="{% url 'login' %}">Login</a></li>
                              <li><a href="{% url 'logout' %}">Register</a></li>
                              <li><a href="/auth/login/google-oauth2/?next=/">Login with Google</a></li>   
                            {% endif %}                   
                       </ul>
                       <ul class="nav">
                       {% if user.is_authenticated %}
                           <li id="searchbar-container"><form type='get' class="navbar-search pull-left" action="{% url 'resources' %}">
						 		<input id='search' name='search' class="search-query span2" placeholder="Quick Search" type="text">
						   </form>                       
                           </li>
                           <li><a href="{% url 'forum' %}">Forum</a></li>
                           <li><a href="{% url 'explore' %}">Explore</a></li>
                           <li><a href="{% url 'resources' %}">Resources</a></li>
                           <li><a href="{% url 'packs' %}">Packs</a></li>
                           <li><a href="{% url 'tags' %}">Tags</a></li>
                       {% endif %}
                           <li><a href="{% url 'about' %}">About</a></li>
                       </ul>
                   </div>
                   <!--/.nav-collapse -->
               </div>
               
           </div>
        </div>
        
        <div>
			<!-- Header -->
				<div id="header">

					<div class="top">

						<!-- Logo -->
                       {% if user.is_authenticated %}
							<div id="logo">
								<span class="image avatar48"><img src="{% static 'images/avatar.jpg' %}" alt="user avatar" /></span>
								<h1 id="title">{{ user_teacher.firstname }} {{ user_teacher.surname }}</h1>
								<p>{{ school }}{% ifequal school 'No School' %}, <a href="{% url 'edit_profile' %}">Add?</a>{% endifequal%}</p>
							</div>
	                   {% endif %}

						<!-- Nav -->
                        <nav id="nav">
							<ul>
								{% if user.is_authenticated %}
									<li><a href="{% url 'my_homepage' %}#" id="home-link" class="skel-layers-ignoreHref"><span>My Page</span></a></li>
									<li><a href="{% url 'my_homepage' %}#myresources" class="skel-layers-ignoreHref"><span>My Resources</span></a></li>
                                    <li><a href="{% url 'my_homepage' %}#mypacks" class="skel-layers-ignoreHref"><span>My Packs</span></a></li>
									<li><a href="{% url 'profile' %}/" class="skel-layers-ignoreHref"><span>My Profile</span></a></li>
									<li><a href="{% url 'contribution' %}/" class="skel-layers-ignoreHref"><span>My Contribution</span></a></li>
									<li><a href="{% url 'help' %}/" class="skel-layers-ignoreHref"><span>Help</span></a></li>
								{% else %}									
									<li><a href="{% url 'login' %}/" class="skel-layers-ignoreHref"><span>Login</span></a></li>
									<li><a href="{% url 'register' %}/" class="skel-layers-ignoreHref"><span>Register</span></a></li>
                                    <li><a href="/auth/login/google-oauth2/"><span>Login with Google</span></a></li>									
								{% endif %}			         
							</ul>
						</nav>

					</div>

					<div class="bottom"></div>

				</div>

			<!-- Main -->
			<div id="main">

				<!-- Intro -->
				{% if user.is_authenticated %}
				<!-- This will be used for tracking notifications -->
        
					{% block notification%}{% endblock%}
				{% endif %}

				<!-- Main Page -->
				<section id="MainPage">
                    <div class="container">
                        {% if resource.hidden == 1  and resource.author != user_teacher %}                        
                            <div class="hero-unit"><h2>This resource is not visible (hidden).<br>The author has chosen to hide it, sorry.</h2></div>
                        {% elif resource.restricted == 1 and resource.author != user_teacher %}
                            <div class="hero-unit"><h2>This resource is not visible (restricted)<br>This resource is only for Scottish teachers, sorry.</h2></div>
                        {% elif pack.hidden == 1  and pack.author != user_teacher %}
                            <div class="hero-unit"><h2>This pack is not visible (hidden)<br>The author has chosen to hide it, sorry.</h2></div>
                        {% elif pack.restricted == 1  and pack.author != user_teacher %}
                            <div class="hero-unit"><h2>This pack is not visible (restricted)This pack is only for Scottish teachers, sorry.</h2></div>                       
                        {% else %}
                            {% block body_block%}{% endblock%}
                        {% endif %}
                    </div>
                </section>
                
            </div>
        </div>

        <!-- Javascript at the end, page loads faster -->
        <script src="{% static 'sidebar/js/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'sidebar/js/jquery.scrollzer.min.js' %}"></script>
        <script src="{% static 'sidebar/js/skel.min.js' %}"></script>
        <script src="{% static 'sidebar/js/util.js' %}"></script>
        <!--[if lte IE 8]><script src="{% static 'sidebar/js/ie/respond.min.js' %}"></script><![endif]-->
        <script src="{% static 'sidebar/js/main.js' %}"></script>		
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/treasure.js' %}"></script>
    </body>
</html>
