{% extends 'treasure/base.html' %}

{% load static %}
{% load render_help %}

{% block title %}
    Edit Pack
{% endblock %}

{% block body_block %}

<div class="hero-unit">
    <h2>Edit Pack</h2>
    <br/>
    <div class="container">
        {% if form %}
            <form class="span6" id="edit_pack_form" method="post" action="{% url 'edit_pack' pack_id %}" enctype="multipart/form-data">
	
				    {% csrf_token %}
			
				    {% for hidden in form.hidden_fields %}
				        {{ hidden }}
				    {% endfor %}

				    {% for field in form.visible_fields %}
		                {{ field.errors }}
		                {{field.label}}{% render_help_text field %}<br/>
                    {{ field }}
                    {% if field.label == "Other Tags" %}
                    <a class="btn btn-info pull-right" href="{% url 'add_tag' %}?editpack,{{ pack_id }}">Add Tag</a>
                    {% endif %}
                    {% if field.label == "Upload Image" %}
                    <br><br>
                    {% endif %}
				    {% endfor %}
				
				
				    <br/>
                	<button class="btn btn-primary" type="submit" name="submit" tabindex='1'>Update Pack</button>

            </form>
        {% else %}
            <h3>This is not your pack. Access to edit; Denied!</h3>
        {% endif %}
    </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    // fill in forms from sessionstorage
    function init() {
        if (sessionStorage["name"]) {
            $('#id_name').val(sessionStorage["name"]);
        }
        if (sessionStorage["summary"]) {
            $('#id_summary').val(sessionStorage["summary"]);
        }
        if (sessionStorage["description"]) {
            $('#id_description').val(sessionStorage["description"]);
        }
    }
    init();
});

$('input').on("keyup change blur", function () {
    sessionStorage[$(this).attr('name')] = $(this).val();
});
$('textarea').on("keyup change blur", function () {
    sessionStorage[$(this).attr('name')] = $(this).val();
});

$('button[name*="submit"]').click(function() {
    // clear session storage when submitting the form
    sessionStorage.clear();
});
</script>

{% endblock %}
