{% extends 'treasure/base.html' %}

{% load static %}

{% block title %}
    Explore
{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <div class="row-fluid">
        <h2>Explore</h2>
        {% if tags %}
        <ul>
            {% for tag in tags %}
            <li><a href="../explore/{{ tag.id }}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No tags in database.</strong>
        {% endif %}
    </div>
</div>
{% endblock %}
