{% extends 'treasure/base.html' %}

{% load static %}

{% block title %}
    {{ hub_name }}
{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <div class="row-fluid">
        {% if hub %}
            <h2>{{ hub_name }}</h2>
            
            <h3>Address:</h3>
            <p>{{ address }}</p>
            <h3>Latitude:</h3>
            <p>{{ lat }}</p> 
            <h3>Longitude:</h3>
            <p>{{ lon }}</p>   
            
        {% else %}
            No hub at this url.<br>
        {% endif %}
    </div>
</div>
{% endblock %}
