{% extends 'treasure/base.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block notification%}	
{% if need2rate %}
<section id="top" class="one dark cover">
	<div class="container">

		<header>
			<h2 class="alt">Welcome back, {{ user_firstname }}</a></h2>
			<p>You have pending actions.
				Please remember to share your opinion about the resources that you used recently.</p>
		</header>

		<footer>
			<a href="#MainPage" class="button scrolly" id="continue-browsing">Continue Browsing</a>
		</footer>

	</div>
</section>
{% endif %}
{% endblock %}


{% block body_block %}

{% if user.is_authenticated %}

<div class="hero-unit panel panel-default">
	{% if MyResources%}
    <div class="panel-heading clearfix">
		<h4>My Resources</h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="Resources" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Resource Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resource in MyResources %}
                        <tr class="studentLabel">
                            <td><a href="/treasure/resource/{{ resource.id }}">{{resource.name}}</a></td>
                            <td>{{resource.description}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
             </table>
        </div>
    </div> <!-- close body -->
	{% else %}
	 You have uploaded no resources.
	{% endif %}
</div> <!-- close panel -->


<div class="hero-unit panel panel-default">
{% if need2rate %}
    <div class="panel-heading clearfix">
		<h4>Downloaded Resources Pending Rating</h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="Ratings" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
	                        <th>Resource Name</th>
	                        <th>Date and Time</th>
	                        <th>Have used it?</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    {% for entry in need2rate %}
	                        <tr class="studentLabel">
	                            <td><a href="/treasure/resource/{{entry.resource.id }}">{{entry.resource.name}}</a></td>
								<td>{{entry.datetime}}</td>
	                            <td>{% if entry.used %} Yes{% else %} No{% endif %}</td>
                        </tr>
                    {% endfor %}

                </tbody>
             </table>
        </div>
    </div> <!-- close body -->
	{% else %}
	 All downloaded resources have been rated. <a href="/treasure/explore/">Explore more</a>?
	{% endif %}
</div> <!-- close panel -->


{% if MyResources %}
<div class="hero-unit panel panel-default">
{% if want2talk %}
    <div class="panel-heading clearfix">
		<h4>People Willing to talk about my Resources</h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="Ratings" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Resource Name</th>
                        <th>Author</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in want2talk %}
                        <tr class="studentLabel">
                            <td><a href="/treasure/resource/{{ record.resource.id }}">{{record.resource.name}}</a></td>
                            <td>{{record.teacher}}</td>
                            <td>{{record.comment}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
             </table>
        </div>
    </div> <!-- close body -->
	{% else %}
	 Nobody has declared interest in discussing your resources yet.
	{% endif %}
</div> <!-- close panel -->
{% endif %}


{% else %}
    <div class="hero-unit">
        <h3>Please <a href="/treasure/login">Login</a> or <a href="/treasure/register">Register</a>.</h3>
    </div>
{% endif %}

{% if user.is_authenticated %}
<!-- script for table -->
<script type="text/javascript">
$(document).ready(function(){
    $('#Resources').DataTable();
});
</script>
{% endif %}

{% endblock %}
