{% extends 'treasure/base.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>Welcome to Treasure</h1>
    <p>Track teaching resources.</p>
    
    <div class="row-fluid">
    {% if user.is_authenticated %}
        <p>Test links</p>
        <ul>
            <li><a href="/treasure/add_web_resource">Add a Web Resource</a></li>
        	<li><a href="/treasure/add_file_resource">Add a File Resource</a></li>
            <li><br></li>
        	<li><a href="/treasure/add_hub">Add a Hub</a></li>
        	<li><a href="/treasure/add_school">Add a School</a></li>
        	<li><br></li>
            <li><a href="/treasure/resources">View Resources</a></li>
            <li><a href="/treasure/schools">View Schools</a></li>
            <li><a href="/treasure/hubs">View Hubs</a></li>
        </ul>
    {% else %}
        <h3>Please <a href="/treasure/login">Login</a> or <a href="/treasure/register">Register</a></li>.</h3>
    {% endif %}
    </div>
</div>
{% endblock %}
