{% extends 'treasure/base.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block notification%}	
<section id="top" class="one dark cover">
	<div class="container">

		<header>
			<h2 class="alt">Welcome back, {{ user_first_name }}</a></h2>
			<p>Please give back to the community by <u><a href="/treasure/resource/1">Rating XX resource</a></u> that you used recently.</p>
		</header>

		<footer>
			<a href="#MainPage" class="button scrolly" id="continue-browsing">Continue Browsing</a>
		</footer>

	</div>
</section>
{% endblock %}


{% block body_block %}
<div class="hero-unit">
    <h2>Welcome to Treasure</h2>
    <p>Landing page after login will contain a summary and quick links for everything.</p>
    
    <div class="row-fluid">
    {% if user.is_authenticated %}
        <p>Test links</p>
        <ul>
            <li><a href="/treasure/add_web_resource">Add a Web Resource</a></li>
        	<li><a href="/treasure/add_file_resource">Add a File Resource</a></li>
            <li><br></li>
        	<li><a href="/treasure/add_hub">Add a Hub</a></li>
        	<li><a href="/treasure/add_school">Add a School</a></li>
        	<li><br></li>
            <li><a href="/treasure/resources">View Resources</a></li>
            <li><a href="/treasure/schools">View Schools</a></li>
            <li><a href="/treasure/hubs">View Hubs</a></li>
        </ul>
    {% else %}
        <h3>Please <a href="/treasure/login">Login</a> or <a href="/treasure/register">Register</a></li>.</h3>
    {% endif %}
    </div>
</div>
{% endblock %}
