{% extends 'treasure/base.html' %}

{% load static %}

{% block title %}
    {{ pack.name }}
{% endblock %}

{% block body_block %}
{% if pack %}
<div class="row-fluid hero-unit">

    <div class="span8">
        <h2>{{ pack.name}}</h2>
        <h3><strong>{{ pack.summary }}</strong></h3>
        <h4>collated by {{ pack.author }}</h4>
        
        <br>

        <h4><strong>Description:</strong></h4>
        <p>{{ pack.description }}</p><br>
        <h4><strong>Tags:</strong></h4>
        {% if other_tags %}
            {% for tag in other_tags %}
                <a href="/../tags/{{ tag.id }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% else %}
            <p>There are no tags.</p>
        {% endif %}
    </div>
    
    <div class="span3">
        
        <div class=""> <img src="{{pack.image}}" style="width: 120px; height: 120px;" data-src="holder.js/120x120" alt="120x120"></div>
        
        <hr>
        
        <h4><strong>Levels:</strong></h4>
        <ul>
        {% if level_tags %}
            {% for level in level_tags %}
                <li><a href="/../tags/{{ level.id }}">{{ level.name }}</a></li>
            {% endfor %}
        {% else %}
            <li>No level tags.</li>
        {% endif %}
        </ul>
        <hr>
        
        <h4><strong>Topics:</strong></h4>
        <ul>
        {% if level_tags %}
            {% for topic in topic_tags %}
                <li><a href="/../tags/{{ topic.id }}">{{ topic.name }}</a></li>
            {% endfor %}
        {% else %}
            <li>No level tags.</li>
        {% endif %}
        </ul>
        <hr>
        
        {% if owned %}
            <!--a class="btn btn-block btn-primary" href="">Download Pack?</a-->
            <a class="btn btn-block btn-danger" href="/packs/{{ pack.id }}/edit">Edit</a>
        <hr>
        {% endif %}
    </div>
</div>

<div class="hero-unit">

    {% if pack_resources %}
		<div class="panel panel-default">
			<div class="panel-body">
		        <div class="table-responsive">
		            <table id="Packs" class="table table-striped table-bordered" cellspacing="0" width="100%">
		                <thead>
		                    <tr>
		                        <th>Resource Name</th>
		                        <th>Author</th>
		                        <th>Summary</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    {% for resource in pack_resources %}
		                        <tr class="Label">
		                            <td><a href="/resource/{{ resource.id }}">{{resource.name}}</a></td>
		                            <td>{{resource.author}}</td>
		                            <td>{{resource.summary}}</td>
		                        </tr>
		                    {% endfor %}

		                </tbody>
		             </table>
		        </div>
		    </div> <!-- close body -->
        </div> <!-- close panel -->
    {% else %}
        <h4>There are no resources in this pack.</h4>
        <a href="/resources/">Return to Resources</a>
    {% endif %}
    
</div>
{% else %}
    <div class="hero-unit"><h3>Wrong URL, or Pack no longer exists.</h3></div>
{% endif %}
<!-- script for table -->
<script type="text/javascript">
$(document).ready(function(){
    $('#Packs').DataTable();
});
</script>

{% endblock %}
