{% extends 'treasure/base.html' %}

{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block body_block %}
{% if teacher %}
    <div class="hero-unit row-fluid">
	    <h2>Profile Details</h2><br>
		<h4>Username:</h4>
		<p>  {{ username }}</p><br>
		<h4>Full name:</h4>
		<p>  {{ user_firstname }} {{ user_surname }}</p><br>
		<h4>Email:</h4>
		<p>  {{ user_email }}</p><br>
		{% if user_schools %}
			<h4>Schools</h4>
			<ul>
			{% for school in user_schools %}
				<li><a href="/treasure/school/{{ school.id }}">{{ school.name }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<h4>You are not currently part of any schools.<h4>
		{% endif %}
		<br>
		{% if user_hubs %}
			<h4>Hubs</h4>
			<ul>
			{% for hub in user_hubs %}
				<li><a href="/treasure/hub/{{ hub.id }}">{{ hub.name }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<h4>You are not currently part of any hubs.<h4>
		{% endif %}
		<br>
		<a class="btn btn-primary" href="/treasure/profile/edit">Edit Profile</a>
    </div>
{% else %}
	<div class="hero-unit">
	    <h3>There is no user!</h3>
	</div>
{% endif %}
{% endblock %}
