{% extends 'treasure/base.html' %}

{% load static %}
{% load render_help %}

{% block head_block %}{% if registered %}<meta http-equiv="refresh" content="2; url=../login/" />{% endif %}{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block body_block %}

<div class="hero-unit">
    {% if registered %}
        <h3>Thank you for registering</h3>
        <h4>You are being automatically redirected to the login page. If nothing happens, please <a href="/login/" tabindex='1'>click here</a>!</h4>
    {% else %}
        <h2>Teacher Registration</h2>
        <br/>
        <div class="container">
            <form class="span6" id="register_teacher_form" method="post" action="/register/" enctype="multipart/form-data">
	
                {% csrf_token %}
            
                {% for hidden in user_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in user_form.visible_fields %}
                    {{ field.errors }}
                    {{field.label}}{% render_help_text field %}<br/>
                    {{ field }}<br/>
                {% endfor %}
                
                {% for hidden in teacher_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in teacher_form.visible_fields %}
                    {{ field.errors }}
                    {{field.label}}{% render_help_text field %}<br/>
                    {{ field }}<br/>
                {% endfor %}

                <br/>
                <button class="btn btn-primary" type="submit" name="submit" tabindex='1'>Add Teacher</button>
            </form>
        </div>
    {% endif %}
</div>
{% endblock %}
