{% extends 'treasure/base.html' %}

{% load static %}

{% block title %}
    {{ resource_name }}
{% endblock %}

{% block body_block %}
    {% if resource %}
        <div class="hero-unit row-fluid">
            <div class="span8">
                <h2>{{ resource_name}}</h2>
                <h3><strong>{{ resource.summary }}</strong></h3>
                {% if web_resource %}
                    <h4>added by {{ author }}</h4>
                {% elif files_resource %}
                    <h4>uploaded by {{ author }}</h4>
                {% else %}
                    <h4>by {{ author }}</h4>
                {% endif %}
                
                <br>
                
                {% if description %}
                    <h4><strong>Description:</strong></h4>
                    <p>{{ description }}</p><br>
                {% endif %}
                <h4><strong>Tags:</strong></h4>
                {% if other_tags %}
                    {% for tag in other_tags %}
                        <a href="/../treasure/tags/{{ tag.id }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    <p>There are no tags.</p>
                {% endif %}
            </div>
            <div class="span3">
                <hr>
                
                <h4><strong>Levels:</strong></h4>
                <ul>
                {% for level in level_tags %}
                    <li><a href="/../treasure/tags/{{ level.id }}">{{ level.name }}</a></li>
                {% endfor %}
                </ul>
                <hr>
                
                <h4><strong>Topics:</strong></h4>
                <ul>
                {% for topic in topic_tags %}
                    <li><a href="/../treasure/tags/{{ topic.id }}">{{ topic.name }}</a></li>
                {% endfor %}
                </ul>
                <hr>
                
					{% if label %}
                        <a class="btn btn-block btn-primary" href="/../treasure/resource/{{resource.id}}/download/"{% if files_resource %} download{% endif %}>{{label}}</a>
					{% endif %}
                    <a class="btn btn-block btn-warning" href="/../treasure/resource/{{ resource.id}}/evolve">Evolve Resource</a>
                    <!-- todo: uncomment when tracking works                  
                    <a class="btn btn-block btn-success" href="/../treasure/resource/{{ resource.id}}/track">Track Resource</a>
                    end track-->                    
                    <a class="btn btn-block btn-info" href="/../treasure/resource/{{ resource.id }}/versions">View Versions</a>
                    {% if owned %}
                        <a class="btn btn-block btn-danger" href="/../treasure/resource/{{ resource.id }}/edit">Edit Resource</a>
                    {% endif %}
                <hr>
           </div>
        </div>
       
        <div class="hero-unit">
            <h3>Packs</h3>
            {% if partofpacks %}
                <div class="table-responsive">
	            <table id="Packs" class="table table-striped table-bordered" cellspacing="0" width="100%">
	                <thead>
	                    <tr>
	                        <th>Name</th>
	                        <th>Author</th>
	                        <th>Summary</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    {% for pack in partofpacks.all %}
	                        <tr class="packLabel">
	                            <td><a href="/treasure/packs/{{ pack.id }}">{{ pack.name }}</a></td>
	                            <td>{{ pack.author }}</td>
   	                            <td>{{ pack.summary }}</td>
	                        </tr>
	                    {% endfor %}
	                </tbody>
	             </table>
	        </div>
            {% else %}
                <div>This resource is part of no packs</div>
            {% endif %}
            <a class="btn btn-primary pull-right" href="/treasure/resource/{{ resource.id }}/addtopack">Add to a Pack</a>
       </div>
        
        <div class="hero-unit">
        {% if want2talk %}
 		
            <p>People willing to organise discussion about {{resource_name}}:</p>
	        <div class="table-responsive">
	            <table id="wanttotalk" class="table table-striped table-bordered" cellspacing="0" width="100%">
	                <thead>
	                    <tr>
	                        <th>Teacher</th>
	                        <th>Comment</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    {% for record in want2talk %}
	                        <tr class="teacherLabel">
	                            <td>{{record.teacher}}</td>
	                            <td>{{record.comment}}</td>
	                        </tr>
	                    {% endfor %}
                        <tr class="teacherLabel">
                            <td>+ADD SELF</td>
                            <td>-Pending Form to add self-</td>
                        </tr>
	                </tbody>
	             </table>
	        </div>
        </div>
		{% else %}
		    <p>Nobody declared interest in organising a discussion about {{resource_name}} yet. <a href="">Be the first</a></p>
        {% endif %}
        </div>

        <!-- todo: put issues here -->
        
    {% else %}
        <div class="hero-unit"><h2>No Resource At This URL.</h2></div>
    {% endif %}

{% endblock %}
