{% extends 'treasure/base.html' %}

{% load static %}

{% block title %}
    {{ resource_name }}
{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <div class="row-fluid">
        {% if resource %}
            <h1>{{ resource_name }}</h1>
            <h3>Description:</h3>
            <p>{{ description }}</p>
            
            {% if web_resource %}
                <h3>Url to Resource</h3>
                <p>{{ web_resource }}</p>
            {% endif %}
            
            {% if files_resource %}
                <h3>Download Resource:</h3>
                <p>{{ files_resource }}</p>
            {% endif %}
            
        {% else %}
            No Resource at this url.<br>
        {% endif %}
    </div>
</div>
{% endblock %}
