{% extends 'treasure/base.html' %}

{% load static %}

{% block title %}
    {{ resource_name }}
{% endblock %}

{% block body_block %}
<div class="hero-unit">
    {% if resource %}
        <div class="row-fluid">
            <div class="span8">
                <h2>{{ resource_name}}</h2>
                <h4>by {{ author }}</h4><br>
                <h4><strong>Description:</strong></h4>
                <p>{{ description }}</p><br>
                <h4><strong>Tags:</strong></h4>
                {% if other_tags %}
                    <ul>
                    {% for tag in other_tags %}
                        <li><a href="/../treasure/tags/{{ tag.id }}">{{ tag.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>There are no tags.</p>
                {% endif %}
            </div>
            <div class="span3">
                <hr>
                
                <h4><strong>Levels:</strong></h4>
                <ul>
                {% for level in level_tags %}
                    <li><a href="/../treasure/tags/{{ level.id }}">{{ level.name }}</a></li>
                {% endfor %}
                </ul>
                <hr>
                
                <h4><strong>Topics:</strong></h4>
                <ul>
                {% for topic in topic_tags %}
                    <li><a href="/../treasure/tags/{{ topic.id }}">{{ topic.name }}</a></li>
                {% endfor %}
                </ul>
                <hr>
                
                <ul>
                {% if web_resource %}
                    <li><a class="btn btn-block btn-primary" href="{{ web_resource }}">Link to Resource</a></li>
                {% endif %}
                {% if files_resource %}
                    <li><a class="btn btn-block btn-primary" href="{{ files_resource.url }}" download>Download Resource</a></li>
                {% endif %}
                    <!-- uncomment when evolve works
                    <li><p></li>
                    <li><a class="btn btn-block btn-warning" href="/../treasure/resource/{{ resource.id}}/evolve">Evolve Resource</a></li>
                    end evolve-->
                    <!-- uncommetn when tracking works
                    <li><p></li>                  
                    <li><a class="btn btn-block btn-success" href="/../treasure/resource/{{ resource.id}}/track">Track Resource</a></li>
                    end track-->
                    <li><p></li>                    
                    <li><a class="btn btn-block btn-info" href="/../treasure/resource/{{ resource.id}}/versions">View Versions</a></li>
                </ul>
                <hr>
           </div>
        </div>
       <!-- uncomment when packs are working
       <br><br><br>
       <div class="row-fluid">
            <div class="span6">
                <h4> Author Recommended Prerequisites</h3>
                <ul>
                    <li style="color:blue;text-decoration:underline">Intro to Python</li>
                        <li style="color:blue;text-decoration:underline">Programming Concepts</li>
                </ul>
            </div>
            <div class="span6">
                <h4> User Recommended Prerequisites</h3>
                <ul>
                    <li style="color:blue;text-decoration:underline">How to Python</li>
                    <li style="color:blue;text-decoration:underline">Lessons on IDLE</li>
                    <li style="color:blue;text-decoration:underline">Procedural Programming</li>
                </ul>
            </div>	
       </div>
       <br><br><br>
       <div class="row-fluid">
            <div class="span6">
                <h4> User Recommended Followups</h3>
                <ul>
                    <li style="color:blue;text-decoration:underline">Using Object Orientation</li>
                </ul>
            </div>
            <div class="span6">
                <h4>Member of These Lessons</h4>
                <ul>
                    <li style="color:blue;text-decoration:underline">Teaching Programming in Python</li>
                    <li style="color:blue;text-decoration:underline">Introduction to Software Development</li>
                    <li style="color:blue;text-decoration:underline">Programming Paradigms</li>
                </ul>
            </div>
        </div>
        <br><br><br>
        --- end comment -->
        
        <!-- forum should go here
        <div>
            <h2>Forum</h2>
            <p>Forum goes here</p>
        </div>
        -->
        
        <!-- issues go here -->
        
    {% else %}
        <h2>No Resource At This URL.</h2>
    {% endif %}
</div>
{% endblock %}
