{% extends 'treasure/base.html' %}

{% load static %}

{% block title %}
    Schools
{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <div class="row-fluid">
        <h2>Schools</h2>
        {% if schools %}
        <ul>
            {% for school in schools %}
            <li><a href="{% url 'school_view' school.id %}">{{ school.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No schools present.</strong>
        {% endif %}
    </div>
</div>
{% endblock %}
