{% extends 'treasure/base.html' %}

{% load static %}

{% block title %}
    {{ school_name }}
{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <div class="row-fluid">
        {% if school %}
            <h1>{{ school_name }}</h1>
            
            <h3>Town:</h3>
            <p>{{ town }}</p>
            <h3>Address:</h3>
            <p>{{ address }}</p>
            <h3>Latitude:</h3>
            <p>{{ lat }}</p> 
            <h3>Longitude:</h3>
            <p>{{ lon }}</p>           
        {% else %}
            No school at this url.<br>
        {% endif %}
    </div>
</div>
{% endblock %}
