{% extends 'treasure/base.html' %}

{% load static %}

{% block title %}
    Search
{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h2>Search Resources</h2>
    <br/>
    <div class="container">
        {% if searched %}
            {% if resources %}
                <h4>Results</h4>
                <ul>
                {% for resource in resources %}
                    <li><a href="/treasure/resource/{{ resource.id }}">{{ resource.name }}<a/></li>
                {% endfor %}
                </ul>
            {% else %}
                <h4>No results</h4>
            {% endif %}
            <br>
            <a class="btn btn-primary" href="/treasure/search">Search Again</a>
        {% else %}
            <form class="span6" id="search_form" method="post" action="/treasure/search/">            
	
	            {% csrf_token %}

                    {% for field in form.visible_fields %}
                        {{ field.errors }}
                        {{ field.help_text }}<br/>
                        {{ field }}<br/>
                    {% endfor %}
                    
                <button class="btn btn-primary" type="submit" name="submit">Search</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
