{% extends 'treasure/base.html' %}

{% load static %}

{% block title %}
    Tags
{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <div class="container">
                
        <h2>Tags</h2>
        <a class="btn btn-primary" href="/tags/new/">Add New Tag</a>
        
        <hr>
        
        <div class="span4">
            <h4>Levels</h4>
            <ul>
                {% for tag in level_tags %}
                <li><a href="/tags/{{ tag.id }}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
            <hr>
        </div>
        
        <div class="span4">
            <h4>Topics</h4>
            <ul>
                {% for tag in topic_tags %}
                <li><a href="/tags/{{ tag.id }}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
            <hr>
        </div>
        
        <div class="span4">
            
            <h4>Other</h4>
            <ul>
                {% for tag in other_tags %}
                <li><a href="/tags/{{ tag.id }}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        
    </div>
</div>
{% endblock %}
