{% extends 'treasure/base.html' %}

{% load static %}

{% block title %}
    Tags
{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <div class="container">
                
        <h2>Tags</h2>
        <a class="btn btn-primary" href="{% url 'add_tag' %}">Add New Tag</a>
        
        <div class="span11"><hr></div>
        
        <div class="span5" id="leveltags">
            <h4>Levels</h4>
            <ul>
                {% for tag in level_tags %}
                <li><a href="{% url 'tag' tag.id %}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
            <hr>
        </div>
        
        <div class="span5" id="topictags">
            <h4>Topics</h4>
            <ul>
                {% for tag in topic_tags %}
                <li><a href="{% url 'tag' tag.id %}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
            <hr>
        </div>
        
        <div class="span5" id="othertags">
            
            <h4>Other Tags</h4>
            <ul>
                {% for tag in other_tags %}
                <li><a href="{% url 'tag' tag.id %}">{{ tag.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        
    </div>
</div>
{% endblock %}
