{% extends 'treasure/base.html' %}

{% load static %}

{% block title %}
    Track
{% endblock %}

{% block body_block %}
<h4>{{this_resource.name}} Resource Activity</h4>
<div style="height:480px; width:640px">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDudWkR_tpJ06lIarBZm3qIngNAae1RXNw&scale=1&signed_in=true"></script>
        <div>
          <ul style="margin: 0;">
            Downloads
            <input style="margin-right: 5px;" id="DownloadsCheckbox" type="checkbox" onclick="toggleGroup('Downloaded')" checked="checked"/>Usage
            <input style="margin-right: 5px;"  id="UsageCheckbox" type="checkbox" onclick="toggleGroup('Used')"/>Feedback
            <input style="margin-right: 30px;" id="FeedbackCheckbox" type="checkbox" onclick="toggleGroup('Rated')"/>People happy to discuss it
            <input style="margin-right: 30px;" id="DiscussionCheckbox" type="checkbox" onclick="toggleGroup('Discuss')"/>
            <div class='btn' onclick='animate()'>Timeline Animation<img alt="help text as title" title="{{ all_help.7.answer }}" src="{% static 'images/help.png' %}"/></div>
          </ul>
        </div>
        <div id="map" style="height: 100%; min-height: 480px; width: 100%"><div style="text-align:center;">
			<span style="color:Gray;">Loading map...</span>
		</div>

    </div>
<div class="mapDiv"><label>Map View:</label><select class="mapSel" id="mapCenter"><option value="Scotland" >Scotland</option>
                <option value="Bounds">Best View</option>
                <option value="User">MySchool</option>
                <option value="UK">UK</option>
              </select>
</div>
    </div>
<script type="text/javascript" src="{% static 'js/track.js'%}"></script>
<script type="text/javascript">
{% for download in downloaded %}
pushNcheck("Downloaded",{{download.latitude}},{{download.longitude}});
{% endfor %}
{% for usage in used %}
pushNcheck("Used",{{usage.latitude}},{{usage.longitude}});
{% endfor %}
{% for rating in rated %}
pushNcheck("Rated",{{rating.latitude}},{{rating.longitude}});
{% endfor %}
{% for person in discuss %}
pushNcheck("Discuss",{{person.latitude}},{{person.longitude}});
{% endfor %}

var User = {lat: {{lat}}, lng: {{lng}}};
var dlicon="{% static 'images/dlicon.png' %}";
var classicon="{% static 'images/2talkicon.png' %}";
var fbicon="{% static 'images/feedback.png' %}";
var talkicon="{% static 'images/discuss.png' %}";
</script>
<script type="text/javascript" src="{% static 'js/track2.js'%}"></script>
<script>
  $('#mapCenter').change(function(){
    var location = $(this).find('option:selected').attr('value');
    center(location);
});
</script>
{% endblock %}