{% extends "treasure/base.html" %}

{% block title %}
    Notifications
{% endblock %}

{% block body_block %}
<div class="hero-unit">
{% if notifications %}
    <h2>Notifications</h2>
    <a class="btn btn-primary pull-right" href="{% url 'notifications:mark_all_as_read' %}">Mark all as Read</a>
    {% for notification in notifications %}
    <div class="post">
    <p>{{ notification.timestamp }} {% if notification.unread == True %}<a href="{% url 'notifications:mark_as_read' notification.slug %}"><i>Unread</i></a>{% else %}<i>Read</i>{% endif %}</i></a></p>
    
    {% if notification.verb == "evolved" %}
        <p>Your resource (<a href="{% url 'resource_view' notification.target.id %}">{{  notification.target.name }}</a>) has been {{ notification.verb }}: <a href="{% url 'resource_view' notification.action_object.id %}">{{  notification.action_object.name }}</a></p>
    
    {% elif notification.verb == 'downloaded' %}
        <p>Your resource (<a href="{% url 'resource_view' notification.action_object.id %}">{{  notification.action_object.name }}</a>) has been {{ notification.verb }}{{ notification.level }}</p>
    
    {% elif notification.verb == 'want2talk' %}
        <p>Someone new wants to talk about: <a href="{% url 'resource_view' notification.action_object.id %}#want2talk">{{  notification.action_object.name }}</a></p>
        
    {% elif notification.verb == 'want2talkpack' %}
        <p>Someone new wants to talk about: <a href="{% url 'pack' notification.action_object.id %}#want2talk">{{  notification.action_object.name }}</a></p>
    
    {% elif notification.verb == 'rated' %}
        <p>Someone has rated: <a href="{% url 'thread' 'resource' notification.action_object.board.resource.id notification.action_object.id %}">{{ notification.action_object.board.title }}</a></p>
    
    {% elif notification.verb == 'questioned' %}
        {% if notification.action_object.board.boardtype == "resource" %}
        <p>Someone asked a question about: <a href="{% url 'thread' notification.action_object.board.boardtype notification.action_object.board.resource.id notification.action_object.id %}">{{ notification.action_object.board.title }}</a></p>
        {% else %}
        <p>Someone asked a question about: <a href="{% url 'thread' notification.action_object.board.boardtype notification.action_object.board.id notification.action_object.id %}">{{ notification.action_object.board.title }}</a></p>
        {% endif %}
    
    {% elif notification.verb == 'discussed' %}
        {% if notification.action_object.board.boardtype == "resource" %}
        <p>Someone started a discussion about: <a href="{% url 'thread' notification.action_object.board.boardtype notification.action_object.board.resource.id notification.action_object.id %}">{{ notification.action_object.board.title }}</a></p>
        {% else %}
        <p>Someone started a discussion about: <a href="{% url 'thread' notification.action_object.board.boardtype notification.action_object.board.id notification.action_object.id %}">{{ notification.action_object.board.title }}</a></p>
        {% endif %}
    
    {% elif notification.verb == 'replied' %}
        {% if notification.action_object.board.boardtype == "resource" %}
        <p>Someone replied to: <a href="{% url 'thread' notification.action_object.board.boardtype notification.action_object.board.resource.id notification.action_object.id %}">{{ notification.action_object.title }}</a></p>
        {% else %}
        <p>Someone replied to: <a href="{% url 'thread' notification.action_object.board.boardtype notification.action_object.board.id notification.action_object.id %}">{{ notification.action_object.title }}</a></p>
        {% endif %}
        
    {% else %}
        <p>{{notification.action_object}}{{notification.verb}}</p>
    {% endif %}
    </div>
    {% endfor %}
{% else %}
    <h2>No notifications at this time</h2>
{% endif %}
</div>
{% endblock %}