<div class="hero-unit">
        {% if notifications %}
            {% autopaginate notifications 15 %}
            {% for notification in notifications %}
            <div class="post">
                <div class="post-date">
                    <p>{{ notification.timestamp }}</p>
                </div>
                {% if notification.verb == "followed you" %}
                    {{ notification.object.id }}
                {% elif notification.verb == "favorited" %}

                {% endif %}
            </div>
            {% endfor %}
        {% else %}
            <p class="nothing-to-see">No notifications at this time.</p>
        {% endif %}