/* underline links */
a{
    text-decoration:underline;
}

/* do not underline logo*/
.brand{
    text-decoration:none;
}

/* centrally align reminder text */
#top{
    text-align:center !important;
}

/* set height of input boxes */
form input[type="text"], form input[type="email"], form input[type="password"], form select, form textarea{
    height: auto !important;
}

/* set error message colour */
.errorlist{
    color:firebrick !important;
}

/* hide elements from display */
.hidden {
    display:none;
}

/* Smaller padding on hero-units */
.hero-unit{
    padding: 40px;
}

/* brightening up nav bar */
.navbar-inverse .brand,.navbar-inverse .nav>li>a {
	color:#ddd;
}
.navbar-inverse .brand {
	color:#ddd;
}
.navbar-inverse .navbar-text {
	color:#ddd;
}
.navbar-inverse .navbar-link {
	color:#ddd;
}
#nav ul li a {
color: rgba(207, 207, 207, 1);
}
#logo p {
color: rgba(198, 198, 198, 1);
}

/* removing underlined text inside buttons */
a.btn {
	text-decoration: none;
}

/* removing scroll bars from tab panes */
.tab-content {
    overflow: visible !important;
}

/* making the header slightly lighter */
#header {
    background: #333
}

/* making the width of the search bar smaller */
#searchbar-container{
    width: 27%;
}
